# Python
__pycache__/
*.py[cod]

# Virtual Environment
bb_env/
venv/
env/

# Django
db.sqlite3
*.log

# Static & Media
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db